* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

/* Common css */

.content {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

.btn {
  background: #171100;
  border-radius: 25px;
  font-weight: 600;
  line-height: 1.86;
  text-align: center;
  color: #ffffff;
  min-width: 118px;
  padding: 12px;
  text-transform: capitalize;
  font-size: 1.4rem;
  border: 0;
}

.heading {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  /* identical to box height, or 126% */
  letter-spacing: -0.02em;
  color: #171100;
}

/* ====== Header ====== */
.header {
  margin-top: 36px;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.4rem;
  color: #171100;
}

.logo span {
  color: #ffb900;
}

.header .menu-actions {
  display: flex;
}

.header .menu {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header .menu-item {
  position: relative;
}

.header .menu-item a {
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
  padding: 4px 21px;
}

.header .menu-item.active a {
  color: #171100;
  font-weight: 600;
}

.header .menu-item.active::after {
  content: "";
  position: absolute;
  left: 24%;
  bottom: -4px;
  width: 14%;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.btn-signup {
  min-width: 144px;
  border-radius: 24.5px;
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 11px;
}

/* ====== Hero ====== */

.hero-wrap {
  margin-top: 64px;
}

.hero-wrap .wrap-info {
  display: flex;
  justify-content: space-between;
}

.hero-wrap .info {
  width: 482px;
  max-width: 100%;
  margin-top: 64px;
}

.hero-wrap .info .heading {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-wrap .info .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero-wrap .info .actions {
  display: flex;
  margin-top: 38px;
}

.btn-see-course {
  min-width: 180px;
  background: #ffb900;
  border-radius: 32px;
}

.btn-watch {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 28px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.btn-watch .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.recent-info {
  margin-top: 48px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.quantity-wrap {
  display: flex;
  margin-top: 8px;
  gap: 28px;
}

.quantity {
  color: #5f5b53;
  font-size: 18px;
  line-height: 1.23;
}

.quantity strong {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  color: #171100;
  margin-right: 8px;
}

.info-img {
  position: relative;
  width: 470px;
  height: 685px;
}

.info-img img {
  max-width: 100%;
  max-height: 100%;
}

.overview-courses {
  position: absolute;
  right: -100px;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.course .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.course .icon img {
  width: 24px;
  height: 24px;
}

.course.ui-ux .icon {
  background: #fff9e8;
}

.course.dev .icon {
  background: #fcefff;
}

.course.marketing .icon {
  background: #ebeaff;
}

.course .info-course {
  margin-left: 16px;
}

.course .info-course .quantity {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.course .info-course .name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Courses */

.course-container {
  margin-top: 200px;
}

.course-container .popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-container .overview {
  width: 458px;
  max-width: 100%;
}

.course-container .overview .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.course-container .wrap-arrows {
  display: flex;
  align-items: center;
  gap: 18px;
}

.course-container .arrow {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  background-color: #ffffff;
  color: #ffb900;
  cursor: pointer;
}

.course-container .arrow:hover {
  background-color: #ffb900;
  color: #ffffff;
}

.course-container .arrow svg {
  margin: auto;
}

.wrap-courses {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.wrap-courses .course {
  flex: 1;
  border: 1px solid #e2dfda;
  background: #ffffff;
  border-radius: 12px;
}

.wrap-courses .course.active {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border: 0;
}

.wrap-courses .course > img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.course .info {
  padding: 16px 22px 22px;
}

.course .wrap-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.course .rate {
  display: flex;
  align-items: center;
  gap: 6px;
}

.course .rate span {
  color: #fea31b;
  font-size: 1.6rem;
}

.course .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.course .action {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course .action .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.wrap-courses .course.active .action .btn {
  background: #ffb900;
  color: #ffffff;
  border: 0;
}

/* Recap */

.recap-container {
  margin-top: 200px;
  background: #2e2100;
}

.recap-container .wrapper-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0;
}

.recap-container .personal img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.recap-container .personal .name {
  margin-top: 18px;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.recap-container .personal .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: #bfbcb3;
}

.recap-container .personal .slide-control {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.personal .slide-control .control {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.personal .slide-control .control.active {
  background: #ffb900;
}

.recap-container .wrapper-infos .overview {
  width: 780px;
  max-width: 100%;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* Outcomes */

.outcomes-container {
  margin-top: 200px;
}

.outcomes-container .wraps-content {
  display: flex;
  justify-content: space-between;
}

.outcomes-container .outcomes-imgs {
  display: flex;
  align-items: center;
  gap: 30px;
}

.outcomes-container .outcomes-imgs img:first-child {
  margin-top: 32px;
}

.outcomes-container .infos {
  width: 480px;
  margin-top: 58px;
}

.outcomes-container .infos .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.outcomes-container .infos .btn {
  margin-top: 32px;
  display: inline-block;
  background: #ffb900;
  min-width: 137px;
}

.outcomes-container.outcomes2 .wraps-content {
  align-items: center;
}

.outcomes-container.outcomes2 .infos {
  width: 575px;
  margin-top: 0;
}

/* Our blog  */

.our-blog-container {
  background: #fffcf4;
  padding: 96px 0;
}

.blog-header {
  width: 448px;
  margin: 0 auto;
  text-align: center;
}

.blog-header .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: #696262;
}

.wrap-blogs {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.wrap-blogs .blog {
  flex: 1;
  background: #ffffff;
  border-radius: 16px;
}

.wrap-blogs .blog.active {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border: 0;
}

.wrap-blogs .blog > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.blog .info {
  padding: 20px 20px 28px;
}

.blog .date .dot {
  width: 6px;
  height: 6px;
  display: inline-block;
  background: #ffb900;
  border-radius: 50%;
}

.blog .date .date-txt {
  font-weight: 400;
  font-size: 1.4rem;
  color: #5f5b53;
  margin-left: 4px;
}

.blog .separate {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  margin: 12px 0;
}

.blog .title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog .action {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-blogs .blog.active .action .btn {
  background: #ffb900;
  color: #ffffff;
  border: 0;
}
