* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

/* Common css */

.content {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

.btn {
  background: #171100;
  border-radius: 25px;
  font-weight: 600;
  line-height: 1.86;
  text-align: center;
  color: #ffffff;
  padding: 12px 32px;
  text-transform: capitalize;
}

/* ====== Header ====== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.4rem;
  color: #171100;
}

.logo span {
  color: #ffb900;
}

.header .menu {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header .menu-item {
  position: relative;
}

.header .menu-item a {
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
  padding: 4px 21px;
}

.header .menu-item.active a {
  color: #171100;
  font-weight: 600;
}

.header .menu-item.active::after {
  content: "";
  position: absolute;
  left: 24%;
  bottom: -4px;
  width: 14%;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.btn-signup {
  border-radius: 24.5px;
  padding: 12px 45px;
}
